*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 15vh;
    box-shadow: 5px 0px 3px black;
}

nav > .container {
    width: 90% !important;
}

header >#nav-top{
    height: 60%;
}
header > #nav-bottom{
    height: 40%;
    background-color: azure;
}

.nav > .nav-item{
    cursor: pointer;
    padding: 5px 25px;
}

.bi:hover{
    cursor: pointer;
}

.nav-item:hover{
    background-color: rgba(211, 211, 211, 0.3);
}

/* tablet */
@media screen and (min-width:577px) and (max-width:992px) {
    .offcanvas {
        width: 50% !important;
    }
    .offcanvas-top{
        height: 18% !important;
    }
}

/* laptop */
@media screen and (min-width:992px) {

    .offcanvas-top{
        height: 20% !important;
    }
}

.offcanvas-top{
    height: 20% !important;
    width: 100% !important;
}